.ipynb_checkpoints
/diagrams/scripts/GuardianSansCond-Bold.otf
/diagrams/scripts/GuardianSansCond-Regular.otf
/diagrams/scripts/GuardianSansCond-RegularIt.otf
**/__pycache__/
/composable_app/*.log
/.venv/
.DS_Store
/diagrams/font_guardian sans cond/
/composable_app/data/book.pdf
