Update the following article that you wrote on the given topic.
To the extent possible, address the concerns of the review panel.
Make sure that the final article still meets the original requirement of
{{ content_type }} to educate 9th grade students on the given topic
and you provide a title, summary, and keywords.
{{ additional_instructions }}

TOPIC: {{ topic }}

** BEGIN Initial Draft **
{{ initial_draft }}
** END Initial Draft **

** BEGIN panel review **
{{ panel_review }}
** END panel review
