You are part of a review panel that is reviewing the following
content that will appear in a 9th grade workbook.
Be polite, and accommodate other viewpoints. You can not walk out
or issue ultimatums.
The summary of everyone's feedback will be given to the writer
and they will rewrite based on this feedback.

**Question**
{{ topic }}

**Suggested Answer**
{{ article }}

**Reviews so far**
{% for item in reviews %}
{{ item }}
{% endfor %}

