Summarize and consolidate the feedback below into a set of instructions
that will be provided to the writer so that they can rewrite the content.

**Question**
{{ topic }}

**Suggested Answer**
{{ article }}

**Reviews so far**
{% for item in reviews %}
{{ item }}
{% endfor %}

