pydantic-ai==1.0.6
streamlit==1.49.1
mem0ai==0.1.117
chromadb==1.0.21
sentence-transformers==5.1.0
python-json-logger==3.3.0
nest-asyncio==1.6.0
llama-index-llms-google-genai==0.3.1
llama-index-embeddings-google-genai==0.3.1
llama-index==0.14.0
openparse==0.7.0
